pip install numpy==1.26.4
pip install protobuf==3.20.3
pip install opencv-python==4.8.1.78
pip install mediapipe==0.10.9
pip install tensorflow==2.13.0
pip install scikit-learn pandas matplotlib seaborn